{% extends '::admin-base-layout.html.twig' %}
{% block title_content %}
    {{ parent() }} - Utilisateur
{% endblock title_content %}
{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Utilisateur</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Modifier mon profil</h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                </li>
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="flashbag">{% include '::flashbag_message.html.twig' %}</div>
                            <br />
                            <table id="user-list" class="table table-striped responsive-utilities jambo_table" cellspacing="0" width="100%">
                                <tbody>
                                    <tr class="headings">
                                        <th>Nom d'utilisateur</th>
                                        <td>{{user.username}}</td>
                                    </tr>
                                    <tr class="headings">
                                        <th>Nom</th>
                                        <td>{{user.lastName}}</td>
                                    </tr>
                                    <tr class="headings">
                                        <th>Prénoms</th>
                                        <td>{{user.firstName}}</td>
                                    </tr>
                                    <tr class="headings">
                                        <th>Adresse e-mail</th>
                                        <td>{{user.email}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
