{% extends '::admin-base-layout.html.twig' %}
{% block title_content %}
    {{ parent() }} - Utilisateur
{% endblock title_content %}
{% import '::fields-error.html.twig' as display_errors %}
{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Equipe</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Ajouter un équipe</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            {{ display_errors.all_form_errors(form) }}
                            <div class="flashbag">{% include '::flashbag_message.html.twig' %}</div>
                            <br />
                            {{ form_errors(form) }}
                            <form method="post" action="{{ path('app_type_create') }}" class="form-horizontal form-label-left" novalidate="novalidate">
                                <div class="form-group {% if form.name.vars.errors|length %}has-error{% endif %}">
                                    {{ form_label(form.name, "Libellé du type"|trans({}, 'FOSUserBundle'),
                                    { 'label_attr': {'class':'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.name, { 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>
                                <div class="form-group {% if form.deductable.vars.errors|length %}has-error{% endif %}">
                                    {{ form_label(form.deductable, "Déduire du solde de congé"|trans({}, 'FOSUserBundle'),
                                    { 'label_attr': {'class':'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.deductable, { 'attr': {'class': 'icheckbox_flat-green checked'} }) }}
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-9">
                                        <a href="{{ path('app_user') }}" class="btn btn-primary">Annuler</a>
                                        <button type="submit" class="btn btn-success">Enregistrer</button>
                                    </div>
                                </div>
                                {{ form_widget(form._token) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

