{% extends '::admin-base-layout.html.twig' %}
{% import '::fields-error.html.twig' as display_errors %}

{% block title_content %}
    {{ parent() }} - {{ 'label.title.new_vacation_request'|trans({}, 'label') }}
{% endblock title_content %}

{% block page_content %}
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>{{ 'label.title.vacation_request'|trans({}, 'label') }}</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>{{ 'label.title.new_vacation_request'|trans({}, 'label') }}</h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <br />
                            {{ display_errors.all_form_errors(form) }}
                            <form method="post" action="{{ path('app_vacation_create') }}" class="form-horizontal form-label-left" novalidate="novalidate">
                                <div class="form-group {% if form_errors(form.employee) %}has-error{% endif %}">
                                    {{ form_label(form.employee, "label.vacation.employee"|trans({}, 'label'),
                                    { 'label_attr': {'class':'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.employee, { 'attr': {'class': 'datepicker form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>
                                <div class="form-group {% if form_errors(form.startDate) %}has-error{% endif %}">
                                    {{ form_label(form.startDate, "label.vacation.start_date"|trans({}, 'label'),
                                    { 'label_attr': {'class':'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.startDate, { 'attr': {'class': 'datepicker form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>
                                <div class="form-group {% if form_errors(form.returnDate) %}has-error{% endif %}">
                                    {{ form_label(form.returnDate, "label.vacation.return_date"|trans({}, 'label'),
                                    { 'label_attr': {'class':'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.returnDate, { 'attr': {'class': 'datepicker form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>
                                <div class="form-group {% if form_errors(form.reason) %}has-error{% endif %}">
                                    {{ form_label(form.reason, "label.vacation.reason"|trans({}, 'label'),
                                    { 'label_attr': {'class':'control-label col-md-3 col-sm-3 col-xs-12'} }) }}
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        {{ form_widget(form.reason, { 'attr': {'class': 'form-control col-md-7 col-xs-12'} }) }}
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-9">
                                        <a href="{{ path('app_user') }}" class="btn btn-primary">{{ 'label.cancel'|trans({}, 'label') }}</a>
                                        <button type="submit" class="btn btn-success">{{ 'label.save'|trans({}, 'label') }}</button>
                                    </div>
                                </div>
                                {{ form_widget(form._token) }}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function(){
            $('.datepicker').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2",
                locale: {
                    format: "DD/MM/YYYY",
                 "separator": " - ",
                 "applyLabel": "Valider",
                 "cancelLabel": "Annuler",
                 "fromLabel": "De",
                 "toLabel": "à",
                 "customRangeLabel": "Custom",
                 "daysOfWeek": [
                     "Dim",
                     "Lun",
                     "Mar",
                     "Mer",
                     "Jeu",
                     "Ven",
                     "Sam"
                 ],
                 "monthNames": [
                     "Janvier",
                     "Février",
                     "Mars",
                     "Avril",
                     "Mai",
                     "Juin",
                     "Juillet",
                     "Août",
                     "Septembre",
                     "Octobre",
                     "Novembre",
                     "Décembre"
                 ],
                 "firstDay": 1
                }
            });
        });
    </script>
{% endblock javascript %}

