{% extends '::admin-base-layout.html.twig' %}

{% block stylesheet %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('plugins/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }}">
    <link rel="stylesheet"
          href="{{ asset('plugins/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }}">
{% endblock stylesheet %}
{% block page_content %}
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ 'label.title.vacation_request'|trans({}, 'label') }}</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>{{ 'label.title.list_to_validate'|trans({}, 'label') }} <span class="badge bg-green"
                                                               style="color: white">{{ vacations|length }}</span></h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        {% include '::flashbag_message.html.twig' %}
                        <table id="datatable-responsive"
                               class="table table-striped dt-responsive nowrap bulk_action jambo_table" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th><input type="checkbox" id="check-all" class="flat"></th>
                                <th>{{ 'label.employee.lastname'|trans({}, 'label') }}</th>
                                <th>{{ 'label.employee.firstname'|trans({}, 'label') }}</th>
                                <th>{{ 'label.team.name'|trans({}, 'label') }}</th>
                                <th>{{ 'label.vacation.start_date'|trans({}, 'label') }}</th>
                                <th>{{ 'label.vacation.return_date'|trans({}, 'label') }}</th>
                                <th>{{ 'label.vacation.day_count'|trans({}, 'label') }}</th>
                                <th>{{ 'label.vacation.type'|trans({}, 'label') }}</th>
                                <th>{{ 'label.vacation.reason'|trans({}, 'label') }}</th>
                                <th>{{ 'label.vacation.status'|trans({}, 'label') }}</th>
                                <th></th>
                                <th class="bulk-actions" colspan="7">
                                    <a class="antoo" style="color:#fff; font-weight:500;"> Sélectionnés ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in vacations %}
                                <tr>
                                    <td><input type="checkbox" class="flat" name="table_records"></td>
                                    <td>{{ item.employee.lastname }}</td>
                                    <td>{{ item.employee.firstName }}</td>
                                    <td>{{ item.employee.team.name }}</td>
                                    <td>{{ item.startDate|date('d/m/Y') }}</td>
                                    <td>{{ item.returnDate|date('d/m/Y') }}</td>
                                    <td>{{ item.startDate|dayCount(item.returnDate) }}</td>
                                    <td>{{ item.type.name }}</td>
                                    <td>{{ item.reason }}</td>
                                    <td>{{ item.status|status|raw }}</td>
                                    <td>
                                        {{ addButton('fa fa-check fa-lg', path('app_vacation_validate', {id: item.id}), 'activate', 'btn btn-success btn-flat btn-xs')|raw }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}

{% block javascript %}
    {{ parent() }}
    <script src="{{ asset('plugins/datatables.net/js/jquery.dataTables.js') }}"></script>
    <script src="{{ asset('plugins/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables.net-buttons/js/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables.net-scroller/js/dataTables.scroller.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables.net-responsive-bs/js/responsive.bootstrap.js') }}"></script>
    <!-- Custom Theme Scripts -->
    <script src="{{ asset('plugins/gentelella/build/js/custom.min.js') }}"></script>
    <script>
        var datatable = $('#datatable-responsive')
        datatable.dataTable({
                                'language': {
                                    'url': '//cdn.datatables.net/plug-ins/1.10.11/i18n/French.json'
                                },
                                'info': false,
                                'order': [[1, 'asc']],
                                'columnDefs': [
                                    {orderable: false, targets: [0]},
                                    {orderable: false, targets: [$('#datatable-responsive th').length - 1]}
                                ]
                            });
        datatable.on('draw.dt', function () {
            $('input').iCheck({
                                  checkboxClass: 'icheckbox_flat-green'
                              });
        });
    </script>
{% endblock javascript %}