{% macro my_form_errors(form) %}
    {% import _self as forms %}
    {% if form_errors(form) is not empty %}
        {% for error in form.vars.errors %}
        <li>{{ error.message|lower|trim|trans({}, 'commun') }}</li>
        {% endfor %}
    {% endif %}
    {% for children in form.children %}
        {{ forms.my_form_errors(children) }}
    {% endfor %}
{% endmacro %}

{% macro all_form_errors(form) %}
    {% import _self as forms %}
    {% set is_global = is_global|default(1) %}
    {% if not form.vars.valid or app.session.flashbag.get('error')|length > 0 %}
        <div class="callout callout-danger alert alert-danger col-lg-12 text-left alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <p>{{ 'message.form.error'|trans({}, 'commun') }}</p>
            <ul>
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <li>{{ flashMessage|lower|trim|trans({}, 'commun') }}</li>
                {% endfor %}
                {{ forms.my_form_errors(form) }}
                
            </ul>
        </div>
    {% endif %}
{% endmacro %}

