{% extends ":admin/dashboard:dashboard.html.twig" %}

{% block top_tiles %}
    {% if is_granted('ROLE_CLIENT') %}
        {{ parent() }}
    {% endif %}
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-refresh"></i></div>
            <div class="count">{{ pendingVacations|length }}</div>
            <h3>Congés en attente de votre validation</h3>
            <p></p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-check-square-o"></i></div>
            <div class="count">{{ pendingVacations|length }}</div>
            <h3>Congés que vous avez validés</h3>
            <p></p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-close"></i></div>
            <div class="count">{{ pendingVacations|length }}</div>
            <h3>Congés que vous avez refusés</h3>
            <p></p>
        </div>
    </div>
    <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="tile-stats">
            <div class="icon"><i class="fa fa-archive"></i></div>
            <div class="count">{{ pendingVacations|length }}</div>
            <h3>Total</h3>
            <p></p>
        </div>
    </div>

{% endblock top_tiles %}
{% block infos %}
    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>Les dernières demandes en attente</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {% for vacation in pendingVacations %}
                    <article class="media event">
                        <a class="pull-left date">
                            <p class="month">{{ vacation.startDate|date('m') }}</p>
                            <p class="day">{{ vacation.startDate|date('d') }}</p>
                        </a>
                        <div class="media-body">
                            <a class="title" href="#">{{ vacation.employee.firstname~' '~vacation.employee.lastname }}</a>
                            <p>{{ vacation.reason }}</p>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock infos %}